*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.out
*.app
*.hex
*.su
*.idb
*.pdb
*.mod*
*.cmd
bin/
compile_commands.json
.ccls-cache/
build*/
debug/
release/
.vscode
